***Students Performance Dataset***

Import Data and Required Packages

In [1]:
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

Import the CSV Data as Pandas DataFrame

In [22]:
df = pd.read_csv('stud.csv')

Show Top 5 Records

In [23]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

View last 5 rows

In [24]:
df.tail()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

Understand Structure & Data Types

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

Statistical Summary of Numerical Columns

In [26]:
df.describe()

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

Check Missing values

In [27]:
df.isna().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

Check Duplicates

In [28]:
df.duplicated().sum()

np.int64(0)

Checking the number of unique values of each column

In [29]:
df.nunique()

gender                          2
race_ethnicity                  5
parental_level_of_education     6
lunch                           2
test_preparation_course         2
math_score                     81
reading_score                  72
writing_score                  77
dtype: int64

Define numerical & categorical columns

In [30]:
numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

# print columns
print('We have {} numerical features : {}'.format(len(numeric_features), numeric_features))
print('\nWe have {} categorical features : {}'.format(len(categorical_features), categorical_features))

We have 3 numerical features : ['math_score', 'reading_score', 'writing_score']

We have 5 categorical features : ['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch', 'test_preparation_course']

Identify binary and ordinal features

In [31]:
binary_features = [
    feature for feature in df.columns 
    if df[feature].nunique() == 2
]

ordinal_features = [
    'parental_level_of_education'
]

# Print results
print(f"\nWe have {len(ordinal_features)} Ordinal Features:\n", ordinal_features)
print(f"\nWe have {len(binary_features)} Binary Features:\n", binary_features)

We have 1 Ordinal Features:
 ['parental_level_of_education']

We have 3 Binary Features:
 ['gender', 'lunch', 'test_preparation_course']

Target Variable

In [32]:
'math score'

'math score'

Input Features

In [ ]:
'gender'
'race/ethnicity'	
'parental_level_of_education'
'lunch'
'test_preparation_course'
'reading_score'
'writing_score'

'writing_score'

Size of the dataset

In [34]:
df.shape

(1000, 8)

Suitability for Machine Learning

In [35]:
'''
✔ Dataset size is adequate for beginner-level ML models
✔ Balanced number of features vs samples

~ Suitable for:
> Linear Regression
> Decision Trees
> Random Forest
> Logistic Regression etc.
While not large enough for deep learning, it is ideal for classical ML algorithms.'''

'\n✔ Dataset size is adequate for beginner-level ML models\n✔ Balanced number of features vs samples\n\n~ Suitable for:\n> Linear Regression\n> Decision Trees\n> Random Forest\n> Logistic Regression etc.\nWhile not large enough for deep learning, it is ideal for classical ML algorithms.'

 Data Quality Observations

In [ ]:
'''
✔ No missing values
✔ No duplicate records
✔ Clear data types
✔ No obvious outliers in numerical features
Overall, the dataset is clean and ready for analysis and modeling.

>>Data Imbalance
Binary features like lunch and test preparation course show uneven distribution
Some groups have fewer samples than others
>Impact:
May cause bias if used for classification without balancing techniques
'''

'\n✔ No missing values\n✔ No duplicate records\n✔ Clear data types\n✔ No obvious outliers in numerical features\nOverall, the dataset is clean and ready for analysis and modeling.\n\n>>Data Imbalance\nBinary features like lunch and test preparation course show uneven distribution\nSome groups have fewer samples than others\n\n>>Impact:\nMay cause bias if used for classification without balancing techniques\n'